@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    min-height: 98vh;
    padding: 0px;
    margin: 0;
}

.hide{
    display: none !important;
}

.principal{
    max-width: 700px;
    margin: auto;
}

/*  HEADER */

.principal header{
    padding: 15px;
    background-image: linear-gradient(180deg, #f12711, #f5af19);
}

.principal header .input-container{
    position: relative;
}

.principal header input{
    width: 100%;
    padding: 17px 17px 17px 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgb(0, 0, 0);
}

.principal header .material-symbols-outlined{
    color: lightgray;
    font-weight: 200;
    position: absolute;
    left: 10px;
    top: 13px;
}

.principal header input:focus{
    outline: none;
}

/* LOGO E INFOS */

.principal .logo-info-container{
    color: white;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.principal .logo-info-container img{
    width: 100px;
    border-radius: 50%;
}

.principal .logo-info-container h4{
    margin-top: 28px;
    margin-bottom: 12px;
}

.principal .logo-info-container p{
    font-size: 12px;
    color: rgb(240, 240, 240);
}

/* BTNS - TOPICOS */

.topicos-btns{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    gap: 15px;
    justify-content: center;
}

.topicos-btns button{
    user-select: text;
    width: 340px;
    padding: 20px 0px;
    cursor: pointer;
    background-color: white;
    border: 1px solid lightgray;
}

.topicos-btns button:hover{
    box-shadow: 0px 0px 4px lightgray;
}

.btn-ver-mais{
    user-select: none;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 10px 5px;
    cursor: pointer;
}

.btn-ver-mais p{
    margin: 0;
}

.seta{
    transition: .33s;
}

.seta_cima{
    transform: rotate(180deg);
}


/* Produtos */

.produtos-container{
    padding: 20px 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.no-gap{
    gap: 0px !important;
}

.produtos-container a{
    background-color: rgb(255, 255, 255);
    width: 45%;
}

.produtos-container a:hover{
    box-shadow: 0px 0px 4px rgb(160, 160, 160);
}

.produto{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.produto img{
    display: block;
    width: 100%;
}

.produto h2{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 200;
}

.msg-error{
    margin-top: 0px;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.btn-voltar{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid rgb(160, 160, 160);
    cursor: pointer;
}

.btn-voltar:hover{
    box-shadow: 0px 0px 4px lightgray;
}



/* MEDIA QUERY */

@media (max-width: 700px){
    .topicos-btns{
        padding: 15px;
    }

    .produto h2{
        font-size: 18px;
    }
}

@media (max-width: 410px){
    .principal .logo-info-container{
        margin-top: 0px;  
    }
    
    .principal .logo-info-container img{
        margin-top: -2px;
    }
    
    .principal .logo-info-container h4{
        margin-top: -45px !important;
        margin-bottom: 0px;
    }
    
    .principal .logo-info-container p{
        margin: 8px;
    }
}

@media (max-width: 400px){
    .principal .logo-info-container{
        flex-direction: column;
    
        align-items: center;
        text-align: center;
    }

    .principal .logo-info-container h4{
        margin-top: -25px;
    }

    /* topico btns */

    .topicos-btns{
        padding: 15px 0px;
        flex-wrap: wrap;
    }

    .topicos-btns button{
        width: 175px;
        font-size: 12px;
        padding: 12px 0px;
    }


    .btn-ver-mais p{
        font-size: 14px ;
    }

    /* produtos */

    .produtos-container a{
        background-color: white;
    }

    .produto h2{
        font-size: 15px;
    }

}

@media (max-width: 374px){
    .topicos-btns button{
        width: 150px;
    }
}

@media (max-width: 325px){

    .topicos-btns button{
        width: 300px;
    }

    /* .produtos-container{
        flex-wrap: wrap;
    } */
}